<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="/">
        <img src="../assets/img/bande.png" width="100" height="50" class="d-inline-block align-top" alt="allucine">
        <span class="title ml-1">{{ title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- mr-auto  gauche / droite -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item pl-5" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/films">Liste des films</a>
            </li>
            <li class="nav-item pl-5" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/film/add">Gestion d'un film</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item pl-5" [routerLinkActive]="['active']">
                <a class="btn btn-outline-light mr-3" routerLink="/connect">&nbsp;&nbsp;S'inscrire&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Se connecter&nbsp;&nbsp;</a>
                <!-- <a class="btn btn-outline-light mr-3" [routerLink]="/connect">Se connecter</a> -->
                <!-- <a class="nav-link" [routerLink]="/connect">Connection</a> -->
            </li>
        </ul>
    </div>
</nav>

<!-- <ul> -->
    <!-- Identification / Connexion -->
    <!-- <li [routerLink]="/connect">Identification / Connexion</li> -->
    <!-- Ajout de film -->
    <!-- <li [routerLink]="/film/add">Ajout de film</li> -->
    <!-- Par template -->
    <!-- <li [routerLink]="/films">Liste de films</li> -->
    <!-- Par component -->
    <!-- <li (click)="goListFilms()">Liste de films</li> -->
<!-- </ul> -->


<!-- <app-movie-list></app-movie-list> -->
<router-outlet></router-outlet>