table {
    width: 75%;
    margin: auto;
    margin-top: 3rem;
    background-color: #111111;
}

th {
    border-top: 1px solid black;
    /* border-bottom: 1px solid #ddd; */
    height: 20px;
    text-align: center;
    background-color: white;
    color:black;
}

td {
    border-top: 1px dotted gray;
    /* border-bottom: 1px solid #ddd; */
    height: 20px;
    text-align: center;
}

img {
    width: 100px;
    height: 150px;
    margin: 10px;
    border: 1px white solid;
}

.line-right {
    border-right: 1px solid gray;
}
