/* You can add global styles to this file, and also import other style files */
body {
    margin: auto;
    padding-top: 7rem;
    background-color: black;
    color: white;
}

i {
    color: White;
}

ul li
{
    text-align: left;
}